@font-face {
   font-family: 'OpenSans-ExtraBold';
   font-display: swap;
   src: url('file:///C:/Users/clarence112/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-19_143352/fonts/OpenSans-ExtraBold/font.ttf');
}
